{% extends 'master.html' %}

{% block title %}
 add event page
{% endblock %}


{% block content %}
    <br>
    {% if submitted %}
        <br>
        <h3> Thank you for your contributions of organizing the event</h3>
        <br>
        <a href="{% url 'all_events' %}" class="btn btn-primary"> back to events</a>
    {% else %}

        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-7" >
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form}}
                    {{ form.organiser.as_hidden }}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Add">
                    </form>
                </div>

                <div class="col-lg-3" >
                    <br><br><br><br><br><br><br><br><br><br>
                    <a class="btn btn-success" href="{% url 'add_venue' %}"> + add new venue</a> <br>
                </div>

            </div>
        </div>


    {% endif %}

{% endblock %}