{% extends 'master.html' %}

{% block title %}
birmingham all venues for basketball
{% endblock %}


{% block content %}
    <br>
    <a class="btn btn-success" href="{% url 'add_venue' %}"> + add new venue</a> <br>
    <table class="table table-striped table-hove ">
    <thead class="table-secondary">
        <tr>
            <th scope="col"> Name</th>
            <th scope="col"> Address</th>
            <th scope="col"> type</th>
            <th scope="col"> note</th>
        </tr>
    </thead>

    <tbody>
    {% for venue in venues %}
        <tr>
            <td> {{ venue.name }}</td>
            <td> {{ venue.address }}</td>
            <td> {{ venue.venue_type }}</td>
            <td> {{ venue.note }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}