{% extends 'master.html' %}

{% block title %}
contact page
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Lee</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Manager</h6>
                <p class="card-text">Phone: 07446067326 <br>
                wechat: lion_512</p>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">Alex</h5>
                <h6 class="card-subtitle mb-2 text-muted">Miles Secretary</h6>
                <p class="card-text">Phone: 07540168461 <br>
                wechat: alex_su2011</p>
              </div>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="col-md-4">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">KingFu</h5>
                <h6 class="card-subtitle mb-2 text-muted">Miles ambassador</h6>
                <p class="card-text">Phone: -- <br>
                wechat: KingFung9494</p>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title">George</h5>
                <h6 class="card-subtitle mb-2 text-muted">Miles Coach</h6>
                <p class="card-text">Phone: -- <br>
                wechat: --</p>
              </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}