{% extends 'master.html' %}

{% block title %}
 update event page
{% endblock %}


{% block content %}
    <br>
    <h3>Thank you for your contributions and for taking the initiative to organize the event.</h3>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form}}

            <input type="submit" value="update">
        </form>

{% endblock %}

i am a self-taught programmer sekking to launch a career.
all my skillset is gained by building own projects, like crpto trading bot, backtest framework, website and OCR image2table converter.
i love learning and building cool things.

