{% extends 'master.html' %}

{% block title %}
 blog detail
{% endblock %}


{% block content %}
    <div class="container">
    <div class="container mt-1">
        {% if blog.photo %}
        <img src="{{ blog.photo.url }}" style='max-width:40rem; max-height:35rem' >
        {% endif %}
    </div>

    <div class="container mt-2">
        <h2>{{ blog.title }}<br></h2>
{#            {{ blog.author.nickname }}<br>#}
        <h6>Posted on: {{ blog.datetime | date:'d/M/Y'}}</h6>
            <br>
            {{ blog.body |safe}}<br>
    </div>
    </div>

{% endblock %}