{% extends 'master.html' %}

{% block title %}
 add item
{% endblock %}


{% block content %}
    <br>
<div><h1>HHHHHHHHHHHELLLLLLLLLOOOOOOOOOOOO</h1></div>


        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-7" >
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ item_form.media}}
                    {{ item_form.as_p}}
                        {{ images_form }}
{#                    {{ form.organiser.as_hidden }}#}
                    <br>
                    <input class="btn btn-primary" type="submit" value="Add">
                    </form>
                </div>

{#                <div class="col-lg-3" >#}
{#                    <br><br><br><br><br><br><br><br><br><br>#}
{#                    <a class="btn btn-success" href="{% url 'add_venue' %}"> + add new venue</a> <br>#}
{#                </div>#}

            </div>
        </div>


{% endblock %}