{% load static %}

<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-3 mb-md-0">
          <h5 class="text-uppercase">follow us</h5>

          <a href="https://www.youtube.com/@bcbc2015"><img src="{% static 'youtube-logo-png-31792.png' %}" alt="youtube symbol" width="90rem"></a>
            <div>
                <br>
                © {% now "Y" %} Copyright: Birmingham Chinese Basketball Club
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contacts</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p href="#!" class="text-white">07446067326 <br>admin@bcbasketball.co.uk <br>wechat: lion_512</p>
            </li>
{#            <li>#}
{#              <a href="#!" class="text-white">Link 4</a>#}
{#            </li>#}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
{#        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">#}
{#          <h5 class="text-uppercase mb-0">Links</h5>#}
{##}
{#          <ul class="list-unstyled">#}
{#            <li>#}
{#              <a href="#!" class="text-white">Link 1</a>#}
{#            </li>#}
{#            <li>#}
{#              <a href="#!" class="text-white">Link 2</a>#}
{#            </li>#}
{#            <li>#}
{#              <a href="#!" class="text-white">Link 3</a>#}
{#            </li>#}
{#            <li>#}
{#              <a href="#!" class="text-white">Link 4</a>#}
{#            </li>#}
{#          </ul>#}
{#        </div>#}
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>


